<div class="main-cont">
  <div class="pic-title">
    <img src="../../../assets/team.jpg" alt="people-at-work" style="margin-top: 16px">
    <h1 style="color: cornflowerblue; font-family: cursive ">Meet Your Team</h1>
  </div>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/gosia.jpg" alt="people" > </span>
    </div>
  <div>
  <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">MAŁGORZATA BIEŃ</h3></span>
  <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">FRONTEND DEVELOPER</p></span>
  <span class="person-span"><i class="material-icons">code</i> <p class="p-style">Angular, JavaScript, HTML, CSS</p></span>
  <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">malgorzata_team@mail.com</p></span>
  <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">601 452 880</p></span>
  <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Always willing to help and talk about sport, music and culture. Cheerful and witty but usually sleepy with cup of coffee.Mountain lover and dancer. </p></span>
  </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/ania.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">ANIA NOWAK</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">FRONTEND DEVELOPER</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">Angular, JavaScript, HTML, CSS</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">ania_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">691 562 890</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></span>
    </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/damian.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">DAMIAN LUTY</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">BACKEND DEVELOPER</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">Ruby on Rails, JavaScript, Express.js, Node.js</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">damian_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">451 402 780</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p></span>
    </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/dawid.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">DAWID KOT</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">ANDROID ENGINEER</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">Java, Android SDK</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">dawid_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">401 412 880</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></span>
    </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/johny.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">JOHNY VILLAREAL</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">iOS ENGINEER</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">C, C#, Swift, Scala</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">johny_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">601 452 880</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></span>
    </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/kasia.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">KASIA STYCZEŃ</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">PRODUCT MANAGER</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">Agile, Mixpanel, PayPal, Google</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">kasia_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">601 452 880</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></span>
    </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/maciek.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">MACIEK KOWALSKI</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">SALES ENGINEER</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">Objective-C, Swift, Android</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">maciek_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">601 452 880</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></span>
    </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/krzysiek.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">KRZYSZTOF BIENIEK</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">DEVELOPER ADVOCATE</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">iOS, Android, JavaScript, Bluetooth</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">krzysiek_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">601 452 880</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></span>
    </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/maria.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">MARIA KOLEK</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">COMMUNITY MANAGER</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">customer/community support, product management</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">maria_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">601 452 880</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></span>
    </div>
  </mat-card>
  <mat-card class="person-card mat-elevation-z10">
    <div>
      <span class="person-span">  <img src="../../../assets/people/paulina.jpg" alt="people" > </span>
    </div>
    <div>
      <span class="person-span"><h3 style="margin-top: 20px; margin-left: 10px; font-family: cursive">PAULINA MARZEC</h3></span>
      <span class="person-span"><i class="material-icons">desktop_mac</i> <p class="p-style">KEY ACCOUNT MANAGER</p></span>
      <span class="person-span"><i class="material-icons">code</i> <p class="p-style">Excel, Office, Statistica</p></span>
      <span class="person-span"><i class="material-icons">mail_outline</i> <p class="p-style">paulina_team@mail.com</p></span>
      <span class="person-span"><i class="material-icons">phone</i> <p class="p-style">601 452 880</p></span>
      <span class="person-span"><i class="material-icons">person_pin</i> <p class="p-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p></span>
    </div>
  </mat-card>
</div>
