<div class="main-container">
  <div class="pic-title">
  <img src="../../../../assets/retro.jpg" alt="people-at-work">
</div>
<div class="main-cont">
<div class="row1">
  <mat-card class="mat-elevation-z6 main-card" style="margin-right: 15px; background-color: aquamarine">
  <h1 style="color: white; font-size: 20px;">WHAT WAS GOOD?</h1>
    <div class="box" cdkDragBoundary=".main-card" cdkDrag>
     Tasks estimation
    </div>
    <div class="box" cdkDragBoundary=".main-card" cdkDrag >
      Team communication
    </div>
  </mat-card>
  <mat-card class="mat-elevation-z6 main-card" style="background-color: gold">
    <h1 style="color: white; font-size: 20px;">WHAT WAS BAD?</h1>
    <div class="box" cdkDragBoundary=".main-card" cdkDrag >
      Too long Sprint planning meeting
    </div>
  </mat-card>
</div>
<div class="row2">
  <mat-card class="mat-elevation-z6 main-card" style="margin-right: 15px; background-color: darksalmon ">
  <h1 style="color: white; font-size: 20px;">IDEAS</h1>
    <div class="box" cdkDragBoundary=".main-card" cdkDrag >
      Better Product Backlog
    </div>
    <div class="box" cdkDragBoundary=".main-card" cdkDrag >
      Read documentation
    </div>
    <div class="box" cdkDragBoundary=".main-card" cdkDrag style="background-color: yellow">
      Less time for planning
    </div>
  </mat-card>
  <mat-card class="mat-elevation-z6 main-card" style="background-color: cornflowerblue">
  <h1 style="color: white; font-size: 20px;">ACTIONS</h1>
    <div class="box" cdkDragBoundary=".main-card" cdkDrag >
      Meeting with Product Owner
    </div>
    <div class="box" cdkDragBoundary=".main-card" cdkDrag style="background-color: indianred" >
      Requirements understanding
    </div>
  </mat-card>
</div>
</div>
</div>
