<mat-toolbar color="primary" class="top-toolbar">
  <!--<button mat-button (click)="toggleSidenav.emit()">-->
    <!--<button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">-->
    <!--<mat-icon>apps</mat-icon>-->
    <span (click)="toggleSidenav.emit()"><button mat-button (click)="opened = !opened"  ><mat-icon> {{opened ? 'arrow_forward_ios' : 'arrow_back_ios'}}</mat-icon></button></span>

  <!--</button>-->
  <span routerLink="/dashboard" class="logo">Speed Team</span>
  <span class="project-menu">
    <mat-form-field color="accent" style="width: 270px;">
      <mat-select placeholder="Choose project" (selectionChange)="selectedProject($event)"  formControlName="project">
        <mat-option *ngFor="let project of projects" [value]="project._id">
          {{project.code}} {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <i class="material-icons" style="margin-right: 8px;">
    notifications
  </i>
  <i class="material-icons">
    local_post_office
  </i>
  <i class="material-icons" style="color: white; font-size: 25px; float: left; margin-left: 10px ">
    person
  </i>
</mat-toolbar>
<!--<router-outlet></router-outlet>-->
<!--<footer class="footer">-->
  <!--<mat-toolbar color="primary" style="font-size: 12px"> <i class="material-icons" style="font-size: 12px">-->
    <!--copyright-->
  <!--</i> 2019 MB</mat-toolbar>-->
<!--</footer>-->

