table {
  width: 100%;
}

.table-cont {
  margin: 30px;
}
mat-card {
  margin: 20px;
}

mat-toolbar {
  margin-top: 20px;
}

.filter {

}

.table-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.newTaskBtn {
  position: absolute;
  right: 60px;
  color: white;
  background-color: deeppink;
}
