<div class="cards-container">
    <div class="row1">
    <mat-card id="myTaskCard" class="card mat-elevation-z8" routerLink="/dashboard/my-tasks">
        <i class="material-icons" style="color: goldenrod">assignment</i>MY TASKS</mat-card>
     <mat-card id="boardCard" class="card mat-elevation-z8" routerLink="/dashboard/board">
        <i class="material-icons" style="color: darkslateblue">laptop</i>SPRINT BOARD</mat-card>
    <mat-card id="prodManagement" class="card mat-elevation-z8" routerLink="/dashboard/product">
        <i class="material-icons" style="color: indianred" >explore</i>PRODUCT MANAGEMENT</mat-card>
    </div>
    <div class="row2">
    <mat-card id="retroCard" class="card mat-elevation-z8" routerLink="/dashboard/retro">
      <i class="material-icons" style="color: dodgerblue">history</i>RETROSPECTION</mat-card>
    <mat-card id="myTeamCard" class="card mat-elevation-z8" routerLink="/dashboard/my-team">
        <i class="material-icons" style="color: teal">local_cafe</i> MY TEAM</mat-card>
    <mat-card id="dateCard" class="card mat-elevation-z8">
      <i class="material-icons" style="color: burlywood">today</i><span style="font-size: 27px;">{{jstoday}}</span></mat-card>
    </div>
</div>
<div class="picture-container">
  <img src="../../../../assets/main-comp/m1.jpg" alt="people-at-work">
  <img src="../../../../assets/main-comp/m3.jpg" alt="people-at-work">
  <img src="../../../../assets/main-comp/m5.jpg" alt="people-at-work">
  <!--<img src="../../../../assets/main-comp/m4.jpg" alt="people-at-work">-->
</div>

